/* crimson-text-regular - latin */
@font-face {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crimson-text-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
       url('../fonts/crimson-text-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v8-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

/* crimson-text-700 - latin */
@font-face {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/crimson-text-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('../fonts/crimson-text-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v8-latin-700.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../fonts/playfair-display-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display-v13-latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
body {

}

.graphic {

  position: relative;
  background-color: #202020;
}

.step {

  margin: auto;
  display: block;
  padding: 1em;
  padding-bottom: 500px;
  max-width: 500px;
  pointer-events: none;
}

.conclusion-container {
   background-color: #202020;

}
.conclusion {
  margin: auto;
  display: block;
  max-width: 500px;
  padding: 1em;
 

}

.conclusion p {

  color: white;
    word-wrap: break-word;
}


#sections1 .step:first-child {
  height: 100vh;
  padding-bottom: 100px;
}


.sections {
  position: relative;
  left: 0;
  max-width: 35%;
  z-index: 100;
  padding-left: 5%;
  color: white;
  background-color: #202020;
  z-index: 100;
  pointer-events: none;


}

.viz {
  width: 60%;
  height: 100vh;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: #202020;

}

.is_fixed {
  position: fixed !important;
  top: 0;

}



.is_unfixed {
  position: absolute !important;

}

.is_bottom {
  position: absolute !important;
  top: auto;
  bottom: 0;
}

.prose {
 
  font-family: Crimson Text, Garamond;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 20px;
  line-height: 1.5em;
}

.intro {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;

}
h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  text-align: center;

}

.logo {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  margin: auto;
}
.title {
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
  margin: auto;
}

.subhed {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5em;
  position: absolute;
  top: 60vh;
  left: 0;
  right: 0;
  margin: auto;
}

.byline {
  font-family: "Roboto";
  font-size: 16px;
  position: absolute;
  top: 75vh;
  left: 0;
  right: 0;
  margin: auto;

}

a:visited {
  color: white;
}

a {
  pointer-events: all;
  color: white;
}

.second {
  position: relative;
}

.regular {
  max-width: 550px;
}

.node {
  fill: #F7C377;
  stroke: #E49F4F;
  stroke-width: 1px;
}

.node.selected {
  fill: #419EE3;
  stroke: #0F409F;
}

.node.unselected {
  opacity: 0.5;
}

.node:hover {
  cursor: pointer;
  stroke: white;
  stroke-width: 2px;
}

.ring {
  fill: none;
  stroke: #855B2C;
}

.middle-line {
  stroke: black;
  stroke-width: 1px;

}


.g-axis line  {
   stroke: #d3d3d3;
}

.g-axis path  {
   stroke: #d3d3d3;
}

.g-axis text  {
   fill: #d3d3d3;
}

.axis-annotation {
  font-family: "Roboto";
  font-size: 11px;
  fill: #d3d3d3;
  text-anchor: end;
}

.legend-annotation {
  font-family: "Roboto";
  font-size: 11px;
  fill: #d3d3d3;
  text-anchor: start;
}
.coordinator {
}
.tooltip {
  position: absolute;
  font-family: 'Roboto';
  z-index: 1000000000;
  text-align: left;
  color: #353535;
  visibility: hidden;
  pointer-events: none;
  border: 1px solid rgba(193, 193, 193, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  background: white;
  padding: 1em;
  height: auto;
  opacity: 0.7;
  max-width: 250px;
  white-space: nowrap;
  font-size: 11px;
  border-right:1em solid transparent;

}
.tooltip .photo {
  display: block;
  margin: auto;
}

.tooltip .spellernumber {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1em;
}
.tooltip .content {

}
.tooltip .photo img{
  width: 150px;
  display: block;
  margin: auto;
}

.tooltip .tooltip-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  
  text-align: center;
}
.clip-circle {
  clip-path: circle(75px at center);

}
.tooltip .word {
  white-space: normal;
  word-wrap: break-word;
  word-break:break-all;
}
.tooltip .school {
  white-space: normal;
  word-wrap: break-word;

}
.tooltip .sponsor {
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  color: #202020;
  font-size: 10px;
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 0.25em;
  padding:0.25em;

}
.tooltip .previous {
  white-space: normal;
  word-wrap: break-word;
}

.annotation {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  fill: white;
  text-anchor: middle;
}

.states .state-path {
  stroke: #606060;
  fill: #202020;
}

.credits-container {
  background-color: #202020;

  display: block;
  margin: auto;
  font-family: "Roboto";
  color: white;
  padding-bottom: 2em;
}
.credits {
    border-top: 1px solid rgba(255, 255, 255, 1);
    max-width: 500px;
    padding: 1em;
    display: block;
    margin: auto;
}
.creditsp {
  font-size: 12px;
  line-height: 2em;
  padding: 1em;
}


.legendCells .cell circle {
  fill: #F7C377;
  stroke: #E49F4F;
  stroke-width: 1px;

}

.legendCells .cell text {
  fill: #d3d3d3;
  font-family: "Roboto";
  font-size: 11px;
}
@media only screen and (max-width: 1000px) { 
  .sections {
    float: none;
    max-width: 550px;
    display: block;
    margin: auto;
    z-index: 2;
    background-color: rgb(32,32,32,0);
    padding-left: 0px;
  
  }
  .prose.dark {
    background-color: rgba(0,0,0,0.25);
  }
  /*.graphic {
    display: block;
    margin: auto;
  }*/

  .viz {
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: #202020;
  }
  .tooltip {
    pointer-events: all;
  }

  /*.step {
    opacity: 0.5;
    background-color: white;
    z-index: 100;
  }*/
}